<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


  <!-- All the Asynchronous appenders are configured first-->

  <!--AsyncAppender for Debug logs-->
  <appender name="DebugAsync" class="org.apache.log4j.AsyncAppender">
      <param name="BufferSize" value="1024"/>
      <!-- appender-ref ref="DebugConsole" /-->
      <appender-ref ref="DebugFile" />
  </appender>

  
  <!--Configure the additional AsyncAppenders here-->

  <!-- All the Console and RollingFileAppenders are configured next -->

  <!--  We currently make use of a modified implementation of DailyRollingFileAppender -->
  <!--  that has been modified to support also rolling the log file based on size.     -->
  <!--  This modified appender is delivered in the log4h.1.2.13.jar from tpsw          --> 

  <!--Console Appender for Debug logs-->
  <appender name="DebugConsole" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>
     
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ISO8601}  [%p, %c, %t] --> %m%n"/>
      </layout>
   </appender>
   
   <!--RollingFileAppender for Debug logs-->
   <appender name="DebugFile" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="Append" value="true"/>
      <param name="Threshold" value="ALL"/>
      <param name="maxFileSize" value="5MB"/>
      <param name="maxBackupIndex" value="4"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>
      <param name="File" value="D://Robin//myWorkspace//CachingLayer//logs//caching.log"/>
      <param name="ImmediateFlush" value="true"/>
      
      <!--Layout displays the data, time, level, fully qualified class name, thread name, message-->   
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ISO8601}  [%p, %c, %t] --> %m%n"/>
      </layout>
   </appender>
   
   <!--Configure additional appenders here-->

   <!--All the Loggers are configured next-->

   
   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <logger name="org.apache">
      <level value="INFO"/>
   </logger>

   	
   <!--Logger for Platform, Provisioning and Management Servers -->
   
   
   <!--Root Logger whose appenders and levels 
		will be inherited by the child loggers-->
   <root>
      <level value ="DEBUG"/>
      <appender-ref ref="DebugAsync" />
   </root>


</log4j:configuration>
